<h1>Convert <%=@from_currency%></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies.each do |abb, name| %>
    <li>
      <a href="/<%=@from_currency%>/<%=abb%>">
        Convert 1 <%=@from_currency%> to <%=abb%>...
      </a>
    </li>
  <% end %>
</ul>
